body{
background-color: #b0d3f5; /* light blue background */
margin: 90px;
}

.page{
  background:white;
  width: 900 px; 
  height: 500px;
  margin: 20px auto; /*center it */
  border: 3px solid #7bb6f0;
}
.top-bar{
  background:#e1edff; /* color bleu box */
  padding:15px;
  font-size: 28px;
  color: #0050c8; /* color title */
  border-bottom: 2px solid #c6ddff; /*color of the botom of top bar */  
}
.menu{ /*container*/
  margin-top: 10px;
}
.menu a { /*item inside container*/ 
color: #0050c8; 
  margin-right: 50px; /*space between them */
  font-size: 30px; /*of the button size*/ 
}
.quiz-week{ /*purple box(outerbox)m */
  background: #ece5ff; 
  border:2px solid #d5caff;
  border-radius: 10px;

width:650px;
margin-bottom: 20px; /* for it to be centred horizentally */
 padding:0px;

}
.quiz-week-title{
background: #e1d6ff;
padding:10px;

}
/*.main-layout: 2 collumns */
.main-layout{
  display: flex;
  gap: 20px;
  padding: 20px;

}
/* Left column (bigger)*/
.left-column{
  width: 600px;
}