body{
background-color: #b0d3f5; /* light blue background */
display: flex;
justify-content: center;
align-items: center;
height:100vh;
margin:0;
font-family:Arial , sans-serif ;
}
/* main box  */
.main-box{
  background-color: #e6f1ff; /* pale blue inner background*/
border: 4px solid #7bb6f0; /*light bleu border*/
box-shadow: 0 0 0 4px #0044aa; /* dark blue outline*/
width:  850px;
padding: 30px;
border-radius: 10px;
}

/* white content area inside */
.content-box {
background-color:white;
border:3px solid #7bb6f0;
padding: 20px;
text-align: center;
border-radius: 6px;
}