body{
background-color: #b0d3f5; /* light blue background */
margin: 90px;
font-family: Arial,sans-serif;
}

.page{
  background:white;
  width: 900 px; 
  height: 500px;
  margin: 20px auto; /*center it */
  border: 3px solid #7bb6f0;
}
.top-bar{
  background:#e7f3ff; /* color bleu box */
  padding:25px 40px;
  font-size: 32px;
  color: #0050c8; /* color title */
  border-bottom: 2px solid #c6ddff; /*color of the botom of top bar */  

display: flex;
justify-content: space-between;
align-items: center;
}
.menu{ /*container*/
  margin-top: 10px;
}
.menu a { /*item inside container*/ 
color: #0050c8; 
  margin-right: 40px; /*space between them */
  font-size: 22px; /*of the button size*/ 
  font-weight: 600;
}
.quiz-week{ /*purple box(outerbox)m */
  background: #ece5ff; 
  border:2px solid #d5caff;
  border-radius: 10px;

width:650px;
margin-bottom: 20px; /* for it to be centred horizentally */
 padding:0px;

}
.quiz-week-title{
background: #e1d6ff;
padding:10px;
font-weight: bold;
font-size: 20px;
color:#4a3fbf;
border: bottom 2px solid #d5caff;
border-radius: 8px 8px 0 0; 
}

.quiz-inner-box{
  background: white;
  border: 2px solid #d5caff;
  border-radius: 10px;
  width:450px;
  padding : 30px;
  margin: 20px auto;
  text-align: center;
}
.start-btn{
  background: #0066d9;
  color: white;
  padding: 12px 28px;
  font-size: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/*.main-layout: 2 collumns */
.main-layout{
  display: flex;
  gap: 20px;
  padding: 20px;

}
/* Left column (bigger)*/
.left-column{
  width: 600px;
}
.right-column{
width: 250px;  
display: flex;
flex-direction: column;
gap: 20px;
}
/*css for the question page*/
/*page 1 */
/*center for question pages */
.quiz-page-container{
}
.quiz-card{
background: white;
justify-content:center; 
padding:40px; 
border: 2px solid #d5caff;
border-radius: 12px;
}

.next-btn