body{
background-color: #b0d3f5; /* light blue background */
}

.page{
  background:white;
  width: 900 px; 
  height: 500px;
  margin: 20px auto; /*center it */
  border: 3px solid #7bb6f0;
}
.top-bar{
  background:#e1edff; /* color bleu box */
  padding:15px;
  font-size: 28px;
  color: #0050c8; /* color title */
  border-bottom: 2px solid #c6ddff; /*color of the botom of top bar */  
}
.menu{ /*container*/
  margin-top: 10px;
}
.menu a { /*item inside container*/ 
color: #0050c8; 
  margin-right: 50px; /*space between them */
  font-size: 30px; /*of the button size*/ 
}
.quiz { /*purple box */
  background: #efe4ff; 
  padding: white;
  margin-top:20px;

}