body{
    background:url("oldcompt.jpeg") no-repeat center center/ cover;/* add image  */
    
}
.window{
    border:40px solid #c0c0c0;
    outline: 2px solid #808080;
     height:100%;
   margin:0;
}